* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: black;
}

.header {
  padding: 24px 16px;
  background: black;
  border-bottom: 1px solid #ddd;
}
.header h1{
  color: white;
}

.header p{
  color: white;
}

.container {
  padding: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
}

.card {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 12px 14px;
}

.card h2 {
  margin: 0 0 8px 0;
  font-size: 18px;
}

.meta {
  margin: 0 0 10px 0;
  color: #555;
  font-size: 14px;
}

.desc {
  margin: 0;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}
